@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");

body {
  margin: 0;
  font-family: "Josefin Sans", sans-serif;
}

code {
  font-family: "Josefin Sans", sans-serif;
}
